{#
Template for an email message sent to confirm an email address.
Variables passed to this template:
    user: The SimpleUser\User instance.
    confirmationUrl: The link to click to complete the confirmation process.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Bienvenue sur Vespa ! Merci de confirmer votre email.
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Merci pour votre inscription sur Vespa !

Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous:
{{ confirmationUrl }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>Merci pour votre inscription sur Vespa !</h1>

    <p>
        Veuillez confirmer votre adresse email en cliquant sur le lien suivant: {{ confirmationUrl }}
    </p>

{%- endblock -%}
