{% extends layout_template  %}

{% block title %}Crédits - Vespa Mining Open Data{% endblock %}

{% block content %}

        <h2>
            Crédits pour la plateforme Web PestObserver  </h2>

	<h4></h4><br>
<p>La plateforme web PestObserver a été créée en 2011. On présente dans cette page la liste des contributions pour le développement de la plateforme (membres et sponsors):</p><br>
<p>Info de citation:</p>
<p>Turenne N., Andro M., Roselyne Corbière R., Phan T.T.  Open Data Platform for Knowledge Access in Plant Health Domain : VESPA Mining (2015)   arXiv:1504.06077  http://arxiv.org/abs/1504.06077</p><br>
<p><strong>Gestion de projet </strong></p>
<ul><li>Nicolas Turenne (chef de projet scientifique)</li>
</ul><br>
<p>Le système informatique est maintenu dans le cadre de l’ UMR LISIS de l’Université Paris-Est Marne-la-Vallée (UPEM). Les scripts sont hébergés sur un serveur informatique au CRI (Centre de Ressources Informatiques) de l’ UPEM.</p>
<p><strong>Développement originel: </strong></p>
<ul>
<li>Nicolas Turenne (scripts Findpathogen, MoRtifR, statpathogen en 2011)</li>
<li>Tien Phan (x.ent R package en 2014)</li>
<li>Alexandre Louchart (web services c# et sqlserver en 2014).</li>
</ul>

<p><strong>Création de la base de données (fonds documentaire): </strong></p>
<ul>
<li>Mathieu Andro , INRA Versailles </li>
<li>Vincent Cellier, INRA Dijon</li>
<li>Jean-Noel Aubertot, INRA Dijon</li>
</ul>

<p><strong> Contribution importante de partenaires privés:</strong></p>
<ul>
<li> Société JOUVE  (http://www.jouve.com/fr) pour la conversion des documents (OCR). </li>
<li> BNF (Bibliothèque Nationale de France – Bibliothèque François-Mitterrand) pour numériser une partie du fonds documentaire (1963-2008)</li>
</ul>


<p><strong> Développement antérieurs: </strong></p>
<ul>
<li> Chloe Duloquin (Conception Web) </li>
<li> Alexandre Louchart (Services Web)</li>
<li>Tien Phan (Extraction d’Information)</li>
<li>Guillaume Orsal (Services Web)</li>
<li>Philippe Breucker (Administration Système)</li>
</ul>

<p><strong> Pré-projet de faisabilité: </strong></p>
<ul>
<li> Julia Agerberg (chargé de mission 2010-2011) – INRA Dijon </li>

</ul>

<p><strong> Développeurs actuels :  </strong></p>
<ul>
<li> Hanchao Song (Extraction d’information et méthodes stochastiques) </li>
<li> Ines Bahram (Analyse des Utilisateurs et de l’Interaction Homme-Machine)  </li>

</ul>
<p><strong>Financement </strong></p>
<table border="1">
 <tr>            
      <th> Years </th> 
     
 
   </tr>

</table>




	<p>le lien vers cette page est <a href="{{ path( 'credit' ) }}">{{ url( 'credit' ) }}</a></p>

{% endblock %}
