{% extends layout_template  %}

{% block title %}Crédits - PestObserver Open Data{% endblock %}

{% block content %}

        <h2>
            Crédits pour la plateforme Web PestObserver  </h2>

	<h4></h4><br>
<p>La plateforme web PestObserver a été créée en 2011. On présente dans cette page la liste des contributions pour le développement de la plateforme (membres et sponsors):</p><br>
<p>Info de citation:</p>
<p>Turenne N., Andro M., Roselyne Corbière R., Phan T.T.  Open Data Platform for Knowledge Access in Plant Health Domain : VESPA Mining (2015)   arXiv:1504.06077  http://arxiv.org/abs/1504.06077</p><br>
<p><strong>Gestion de projet </strong></p>
<ul><li>Nicolas Turenne (chef de projet scientifique)</li>
</ul><br>
<p>Le système informatique est maintenu dans le cadre de l’ UMR LISIS de l’Université Paris-Est Marne-la-Vallée (UPEM). Les scripts sont hébergés sur un serveur informatique au CRI (Centre de Ressources Informatiques) de l’ UPEM.</p>
<p><strong>Développement originel: </strong></p>
<ul>
<li>Nicolas Turenne (scripts Findpathogen, MoRtifR, statpathogen en 2011)</li>
<li>Tien Phan (x.ent R package en 2014)</li>
<li>Alexandre Louchart (web services c# et sqlserver en 2014).</li>
</ul>

<p><strong>Création de la base de données (fonds documentaire): </strong></p>
<ul>
<li>Mathieu Andro , INRA Versailles </li>
<li>Vincent Cellier, INRA Dijon</li>
<li>Jean-Noel Aubertot, INRA Dijon</li>
</ul>

<p><strong> Contribution importante de partenaires privés:</strong></p>
<table>
<ul>
<tr><td><li> Société JOUVE pour la conversion des documents (OCR).   <img src="../images/logo_JOUVE.png"  /></li> </td><p></p>
</tr>
<td><li> BNF (Bibliothèque Nationale de France – Bibliothèque François-Mitterrand) pour numériser une partie du fonds documentaire (1963-2008)</li></td>
<td><img src="../images/logo_BNF.png" /></td></tr><tr></tr>
</ul>
</table>



<p><strong> Développement antérieurs: </strong></p>
<ul>
<li> Chloe Duloquin (Conception Web) </li>
<li> Alexandre Louchart (Services Web)</li>
<li>Tien Phan (Extraction d’Information)</li>
<li>Guillaume Orsal (Services Web)</li>
<li>Philippe Breucker (Administration Système)</li>
</ul>

<p><strong> Pré-projet de faisabilité: </strong></p>
<ul>
<li> Julia Agerberg (chargé de mission 2010-2011) – INRA Dijon </li>

</ul>

<p><strong> Développeurs actuels :  </strong></p>
<ul>
<li> Hanchao Song (Extraction d’information et méthodes stochastiques) </li>
<li> Ines Bahram (Analyse des Utilisateurs et de l’Interaction Homme-Machine)  </li>

</ul>
<p><strong>Financement </strong></p>
<table border="1" cellspacing="2" cellpadding="2" width="322">

<tr>
<th>Years</th>
<th>Grating agency</th>
<th>Grant number</th>
</tr><tbody>
<tr>
<td>2013-2015</td>
<td>VESPA</td>
<td>FR-4</td>
</tr>
<tr>
<td>2015-2016</td>
<td>BSN5</td>
<td>FR-3</td>
</tr>
<tr>
<td>2014-2015</td>
<td>HISTOPEST</td>
<td>FR-2</td>
</tr>
<tr>
<td>2009-2011</td>
<td>GIS-GCHP2E</td>
<td>FR1</td>
</tr>
</tbody>
</table>
<br>
<p> Merci au: </p>
<table>
<ul>
<tr><td><li> Ministère Français de l’Education et de la Recherche </li></td>
<td><img src="../images/logo_EDU.png" width="43" height="55" /></td></tr>
<td><li> Ministère Français de l’Alimentation et de l’Agriculture</li></td>
<td><img src="../images/logo_DGAL.png" /></td></tr><tr></tr>
<td><li>LABEX SITES qui a permis de financer : Tien Phan (3 mois) et Guillaume Orsal (1 mois)</li></td>
<td><img src="../images/logo_LABEX.png" width="88" height="50" /></td></tr>
</ul>
</table>

<p><strong> Merci pour la recherche de financement et le positionnement du projet à :  </strong></p>
<ul>
<li> Xavier Reboud, INRA Dijon, SMACH Metaprogramme  </li>
<li>Jean-Noël Aubertot, INRA Toulouse </li>
<li>Marc Barbier (directeur d’unité d’ INRA-Sens 2007-2014) </li>

</ul>

<p><strong> Merci pour les commentaires utiles, les réclamations et les suggestions à ces 8 utilisateurs :   </strong></p>
							  
<table style="height: 41px;" border="0" width="638">
<tbody>
<tr>
<td>Roselyne Corbières</td>
<td>Vincent Cellier</td>
<td>Jean-Noël Aubertot</td>
<td>Marc Barbier</td>
<td>Catherine Chatot</td>
</tr>
<tr>
<td>Maîwen Prigent</td>
<td>Jessica Thomas</td>
<td>Fanny Pellissier</td>
<td></td>
<td></td>
</tr>
</tbody>
</table><br>
<p>Les utilisateurs viennent principalement du réseau français PIC (réseau de Protection Intégrée des Cultures).</p>

<p><a href="http://www6.inra.fr/reseau-pic"></a></p>







{% endblock %}
