{% extends layout_template  %}

{% block title %}Mentions légales - Vespa Mining Open Data{% endblock %}

{% block content %}

        <h1>
            Mentions légales de Vespa Mining
        </h1>

	<p class="lead">A compléter...</p>

	<p>le lien vers cette page est <a href="{{ path( 'mentions' ) }}">{{ url( 'mentions' ) }}</a></p>

{% endblock %}
