{% extends layout_template  %}

{% block title %}Mentions légales - Vespa Mining Open Data{% endblock %}

{% block content %}

        <h2>
            Mentions légales</h2>

	<h4></h4><br>
<p >
Les informations diffusées sur les serveurs LISIS - UPEM sont la propriété du l'LISIS - UPEM. Toute copie totale ou partielle ne peut se faire sans l'accord du LISIS - UPEM. Toute reprise de contenu doit respecter les conditions suivantes : </p>

<ul>
<li>Paternité : Vous devez citer le nom de l'auteur original de la manière indiquée par l'auteur de l'oeuvre ou le titulaire des droits qui vous confère cette autorisation (mais pas d'une manière qui suggérerait qu'ils vous soutiennent ou approuvent votre utilisation de l'oeuvre). </li>
<li> Pas d'Utilisation Commerciale : Vous n'avez pas le droit d'utiliser cette création à des fins commerciales.  </li>
<li>Pas de Modification : Vous n'avez pas le droit de modifier, de transformer ou d'adapter cette création. </li>
</li>
</ul>
<p>
Les utilisateurs sont responsables des interrogations qu'ils formulent ainsi que de l'interprétation et de l'utilisation qu'ils font des résultats. Il leur appartient d'en faire un usage conforme aux réglementations en vigueur.</p>
<p>
Les utilisateurs sont avertis que les informations ne doivent être utilisées qu'à des fins strictement professionnelles, que la capture des écrans pour reconstitution ou enrichissement d'une base de données nominatives est contraire à la loi française et donc interdite, ainsi que l'utilisation à des fins commerciales ou publicitaires.</p>
<p>
Conformément aux dispositions contenues dans la loi n° 78-17 du 6 Janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui vous concernent. Vous pouvez faire exercer ce droit en écrivant à <a href="mailto:info@pestobserver.eu">info@pestobserver.eu</a>
.
</p>

<p>La mise en place de liens hypertextes par des tiers vers des pages ou des documents diffusés sur des serveurs LISIS - UPEM, pouvant de fait constituer une atteinte au droit d'auteur, un acte relevant du parasitisme ou de la diffamation, doivent faire l'objet d'une autorisation du l'LISIS - UPEM qui peut être sollicitée directement auprès de l'administrateur du serveur ou du service plus particulièrement concerné.</p>
<p>
L'autorisation correspondante sera accordée si les liens ne contreviennent pas aux intérêts du l'LISIS - UPEM, et s'ils garantissent la possibilité pour l'utilisateur d'identifier l'origine LISIS - UPEM du document notamment dans le cas de liens hypertextes profonds, de cadrage ou d'insertion par liens.</p><br>
<p>
 
Textes légaux (sur le web de la Cnil)</p><br>
<ul">
<li>
Loi nº78-17 du 6 Janvier 1978, relative à l'informatique, aux fichiers et aux libertés, dite loi Informatique et Libertés </li>
<li>Délibération de la Cnil nº 81-94 du 21 juillet 1981 portant adoption d'une recommandation relative aux mesures générales de sécurité des systèmes informatiques </li>
<li>
Loi nº 88-19 du 5 janvier 1988 relative à la fraude informatique, diteloi Godfrain
</li>



</p>
<!-- le lien vers cette page est <a href="{{ path( 'mentions' ) }}">{{ url( 'mentions' ) }}</a> -->

{% endblock %}
